@page "/Chart"
@page "/Chart/{machineId:int}/{lotNo}"
@inject IJSRuntime JSRuntime
@inject IPLCService PlcService
@inject IItemService ItemService

@using OxyPlot.Blazor
@using OxyPlot
@using OxyPlot.Series
@using OxyPlot.Axes
@using OxyPlot.Annotations
@using OxyPlot.Legends
@using OxyPlot.SkiaSharp

@if (_loading == true)
{
	<MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
	<MudGrid>
		<MudItem xs="2" sm="2">
			<MudButton OnClick="PrintChart" Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Print" Class="mt-4">
				In Biểu đồ
			</MudButton>
			<div Style="width: fit-content">
				<MudSelect T="ItemDto" Label="Chọn Item" Value="selectedItem" ValueChanged="OnSelectedItemChanged" ValueExpression="() => selectedItem" Clearable="true" Dense=true>
					<MudSelectItem T="ItemDto" Value="null">-- Chọn Item --</MudSelectItem>
					@foreach (var item in items)
					{
						<MudSelectItem T="ItemDto" Value="@item">@item.ItemName (@item.ItemCode)</MudSelectItem>
					}
				</MudSelect>


				@if (selectedItem != null)
				{
					<MudSelect T="ItemDetailDto" Label="Chọn Class"
							   Value="selectedItemDetail"
							   ValueChanged="OnSelectedItemDetailChanged"
							   Dense="true"
							   Items="@itemDetails">
						<MudSelectItem T="ItemDetailDto" Value="@null">-- Chọn Class --</MudSelectItem>
						@foreach (var detail in itemDetails)
						{
							<MudSelectItem T="ItemDetailDto" Value="@detail">@detail.ClassName</MudSelectItem>
						}
					</MudSelect>
				}
				<table id="tableInfoId">
					<tr><td>LotNo:</td><td>@lotNo</td></tr>
					@if (selectedItemDetail != null)
					{
						<tr><td>Temperature:</td><td>@selectedItemDetail?.Temperature &deg;</td></tr>
						<tr><td>Time Drying:</td><td>@selectedItemDetail?.TimeDrying &deg;</td></tr>
					}
					<tr><td>Data count:</td><td>@countData</td></tr>
					<tr><td>Sampling int:</td><td>@sampling sec</td></tr>
					<tr><td>Start Time:</td><td>@startTime</td></tr>
					<tr><td>Stop Time:</td><td>@stopTime</td></tr>
				</table>
			</div>
		</MudItem>
		<MudItem xs="10" sm="10">
			<div @ref="plotContainer" style="width: 100%; height: 80vh;" id="lotDataChart">
				<BlazorPlotView Width="100%" Height="100%" Model="plotModel" />
			</div>
		</MudItem>
	</MudGrid>


}


@code {
	private PlotModel plotModel;
	[Parameter] public int machineId { get; set; }
	[Parameter] public string lotNo { get; set; }
	private bool _loading = false;
	private ElementReference plotContainer;
	private bool firstRender = true;

	// Item and ItemDetail properties
	private List<ItemDto> items = new List<ItemDto>();
	private ItemDto? selectedItem;
	private List<ItemDetailDto> itemDetails = new List<ItemDetailDto>();
	private ItemDetailDto? selectedItemDetail;

	// Data properties
	private string lotDataChart;
	int countData = 0;
	double sampling = 0;
	DateTime? startTime { get; set; } = new DateTime();
	DateTime? stopTime { get; set; } = new DateTime();
	double temperature = 0;
	double timeDrying = 0;

	protected override async Task OnInitializedAsync()
	{
		_loading = true;
		StateHasChanged();

		items = await ItemService.GetItemsAsync();

		await LoadData();

		_loading = false;
		StateHasChanged();
	}


	#region	code new
	private async Task LoadData()
	{
		if (machineId > 0 && !string.IsNullOrEmpty(lotNo))
		{
			var plcDataList = (await PlcService.GetPlcDataForLotReportAsync(machineId, lotNo)).ToList();
			countData = plcDataList.Count;

			if (plcDataList != null && plcDataList.Any())
			{
				startTime = plcDataList.First().Timestamp;
				stopTime = plcDataList.Last().Timestamp;

				plotModel = new PlotModel
				{
					Title = "Biểu đồ dữ liệu",
					PlotMargins = new OxyThickness(40, 40, 40, 40),
				};


				plotModel.Series.Clear();
				plotModel.Axes.Clear();
				plotModel.Annotations.Clear();

				SetupLegend();
				AddSeries(plcDataList);
				ConfigureAxes();

				StateHasChanged();
			}
		}
	}

	private async Task OnSelectedItemChanged(ItemDto? item)
	{
		selectedItem = item;
		selectedItemDetail = null;
		if (selectedItem != null)
		{
			itemDetails = await ItemService.GetItemDetailsByItemIdAsync(selectedItem.Id);
		}
		else
		{
			itemDetails.Clear();
		}
		StateHasChanged();
	}
	private async Task OnSelectedItemDetailChanged(ItemDetailDto? newValue)
	{
		selectedItemDetail = newValue;
		AddAnnotations();
		await InvokeAsync(StateHasChanged);
	}

	private void SetupLegend()
	{
		var legend = new Legend
		{
			LegendBackground = OxyColor.FromArgb(200, 255, 255, 255),
			LegendBorder = OxyColors.Black,
			LegendPlacement = LegendPlacement.Outside
		};
		plotModel.Legends.Add(legend);
	}

	private void AddSeries(List<PLCDataDto> plcDataList)
	{
		var series1 = CreateLineSeries("CH 1", OxyColors.White);
		var series2 = CreateLineSeries("CH 2", OxyColors.Red);
		var series3 = CreateLineSeries("CH 3", OxyColors.Green);

		foreach (var data in plcDataList)
		{
			if (data.Timestamp.HasValue && data.Value1.HasValue)
				series1.Points.Add(new DataPoint(DateTimeAxis.ToDouble(data.Timestamp.Value), data.Value1.Value));

			if (data.Timestamp.HasValue && data.Value2.HasValue)
				series2.Points.Add(new DataPoint(DateTimeAxis.ToDouble(data.Timestamp.Value), data.Value2.Value));

			if (data.Timestamp.HasValue && data.Value3.HasValue)
				series3.Points.Add(new DataPoint(DateTimeAxis.ToDouble(data.Timestamp.Value), data.Value3.Value));

			if (countData > 1 && sampling == 0)
			{
				var samplingInterval = plcDataList.ElementAt(1).Timestamp.Value - plcDataList.First().Timestamp.Value;
				sampling = Math.Round(samplingInterval.TotalSeconds);
			}
		}

		plotModel.Series.Add(series1);
		plotModel.Series.Add(series2);
		plotModel.Series.Add(series3);
	}

	private LineSeries CreateLineSeries(string title, OxyColor color)
	{
		return new LineSeries
		{
			Title = title,
			StrokeThickness = 2,
			MarkerSize = 4,
			MarkerStroke = OxyColors.White,

		};
	}

	private void ConfigureAxes()
	{
		var dateTimeAxis = new DateTimeAxis
		{
			Position = AxisPosition.Bottom,
			StringFormat = "HH:mm:ss",
			MajorGridlineStyle = LineStyle.Solid,
			MinorGridlineStyle = LineStyle.Dash,
			IntervalType = DateTimeIntervalType.Minutes,
			Title = "Absolute Time[h:m:s]",
			MaximumPadding = 0.05,
			MinimumPadding = 0.05
		};

		var linearAxis = new LinearAxis
		{
			Position = AxisPosition.Left,
			MajorGridlineStyle = LineStyle.Solid,
			MinorGridlineStyle = LineStyle.Dash,
			MaximumPadding = 0.2,
			MinimumPadding = 0.2
		};

		plotModel.Axes.Add(dateTimeAxis);
		plotModel.Axes.Add(linearAxis);
	}

	private (LineSeries MaxSeries, double MaxValue, LineSeries MinSeries, double MinValue) FindMaxMinSeries()
	{
		if (plotModel?.Series == null || !plotModel.Series.Any())
		{
			return (null, double.NaN, null, double.NaN);
		}

		LineSeries maxSeries = null;
		double maxValue = double.MinValue;
		LineSeries minSeries = null;
		double minValue = double.MaxValue;

		foreach (var series in plotModel.Series.OfType<LineSeries>())
		{
			if (series.Points != null && series.Points.Any())
			{
				double currentMax = series.Points.Max(p => p.Y);
				double currentMin = series.Points.Min(p => p.Y);

				if (currentMax > maxValue)
				{
					maxValue = currentMax;
					maxSeries = series;
				}

				if (currentMin < minValue)
				{
					minValue = currentMin;
					minSeries = series;
				}
			}
		}

		return (maxSeries, maxValue, minSeries, minValue);
	}
	private (DataPoint? minPoint, double minValue) FindMinPointInRange(double xStart, double xEnd)
	{
		DataPoint? globalMinPoint = null;
		double globalMinValue = double.MaxValue;

		for (int i = 0; i < 3; i++)
		{
			if (plotModel.Series[i] is LineSeries series)
			{
				var pointsInRange = series.Points.Where(p => p.X >= xStart && p.X <= xEnd);

				if (pointsInRange.Any())
				{
					var localMinPoint = pointsInRange.OrderBy(p => p.Y).First();
					if (localMinPoint.Y < globalMinValue)
					{
						globalMinValue = localMinPoint.Y;
						globalMinPoint = localMinPoint;
					}
				}
			}
		}

		return (globalMinPoint, globalMinValue);
	}


	private void AddAnnotations()
	{
		var (maxSeries, maxValue, minSeries, minValue) = FindMaxMinSeries();
		DataPoint startPoint = new DataPoint();
		DataPoint lastPointData = new DataPoint();


		var series1 = plotModel.Series[2] as LineSeries;

		var thresholdTemperature = selectedItemDetail?.Temperature;
		if (thresholdTemperature == null) return;
		foreach (var point in maxSeries.Points)
		{
			if (point.Y >= thresholdTemperature)
			{
				double dryingTimeDays = TimeSpan.FromMinutes(Convert.ToDouble(selectedItemDetail?.TimeDrying)).TotalDays;

				lastPointData = maxSeries.Points.LastOrDefault();
				var findPoint = lastPointData.X - dryingTimeDays;
				startPoint = maxSeries.Points.Where(p => p.X <= findPoint).LastOrDefault();

				AddPointAnnotation(startPoint.X, startPoint.Y, MarkerType.Star);
				AddPointAnnotation(lastPointData.X, lastPointData.Y, MarkerType.Star);
				break;
			}
		}
		var (minPoint, _minValue) = FindMinPointInRange(startPoint.X, lastPointData.X);
		if (minPoint != null)
		{
			AddPointAnnotation(minPoint.Value.X, minPoint.Value.Y, MarkerType.Triangle);

			plotModel.Annotations.Add(new TextAnnotation
			{
				Text = $"° - Min: {_minValue:F2} °",
				TextPosition = new DataPoint(minPoint.Value.X, minPoint.Value.Y - 15),
				Stroke = OxyColors.Transparent,
				TextColor = OxyColors.Black,
			});
		}

		var firstPoint = series1.Points.First();
		var lastPoint = series1.Points.Last();

		var maxYValue = maxSeries.Points.Max(p => p.Y);
		var maxYPoint = maxSeries.Points.First(p => p.Y == maxYValue);

		AddVerticalLineAnnotation(startPoint);
		AddVerticalLineAnnotation(lastPointData);

		AddTimeTextAnnotaion(firstPoint, startPoint, "Thời gian lên nhiệt: ");
		AddTimeTextAnnotaion(startPoint, lastPointData, "Thời gian duy trì nhiệt độ: ");

		AddVerticalLineAnnotation(firstPoint.X);
		AddVerticalLineAnnotation(lastPoint.X);
		AddHorizontalLineAnnotation(maxYPoint.Y);
		AddArrowAnnotations(firstPoint.X, lastPoint.X, maxYPoint);
		AddDistanceAnnotation(maxYPoint.X, maxYPoint.Y, maxYValue);
		AddPointAnnotation(maxYPoint.X, maxYPoint.Y, MarkerType.Circle);

	}

	private void AddTimeTextAnnotaion(DataPoint startPoint, DataPoint finishPoint, string? text)
	{
		double daysDiff = startPoint.X - finishPoint.X;

		TimeSpan timeDiff = TimeSpan.FromDays(daysDiff);

		string timeDisplay = $"{(int)timeDiff.TotalHours}h {timeDiff.Minutes}m {timeDiff.Seconds}s";

		double midX = (startPoint.X + finishPoint.X) / 2;
		var textAnnotation = new TextAnnotation
		{
			Text = $"{text} {timeDisplay}",
			TextPosition = new DataPoint(midX, finishPoint.Y + 10),
			FontSize = 12,
			Stroke = OxyColors.Transparent,
			TextColor = OxyColors.Black,
			TextHorizontalAlignment = OxyPlot.HorizontalAlignment.Center,
			TextVerticalAlignment = VerticalAlignment.Top
		};

		plotModel.Annotations.Add(textAnnotation);

	}

	private void AddVerticalLineAnnotation(DataPoint point)
	{
		var annotation = new LineAnnotation
		{
			Type = LineAnnotationType.Vertical,
			X = point.X,
			MaximumY = point.Y + 10,
			MinimumY = point.Y - 10,
			Color = OxyColors.Blue,
			BorderPadding = new OxyThickness(5, 5, 5, 5),
			BorderBackground = OxyColor.FromArgb(191, 255, 255, 255),
		};
		plotModel.Annotations.Add(annotation);


	}

	private void AddVerticalLineAnnotation(double x)
	{
		var annotation = new LineAnnotation
		{
			Type = LineAnnotationType.Vertical,
			X = x,
			Color = OxyColors.Blue,
			BorderPadding = new OxyThickness(5, 5, 5, 5),
			BorderBackground = OxyColor.FromArgb(191, 255, 255, 255),
		};
		plotModel.Annotations.Add(annotation);

	}

	private void AddHorizontalLineAnnotation(double y)
	{
		var annotation = new LineAnnotation
		{
			Type = LineAnnotationType.Horizontal,
			Y = y,
			Color = OxyColors.Blue,
			StrokeThickness = 1
		};
		plotModel.Annotations.Add(annotation);
	}

	private void AddArrowAnnotations(double x, double x2, DataPoint point)
	{
		var arrowAnnotation1 = new ArrowAnnotation
		{
			Color = OxyColors.Blue,
			StartPoint = new DataPoint(point.X, point.Y),
			EndPoint = new DataPoint(x, point.Y),
			LineStyle = LineStyle.Dot,
			StrokeThickness = 1
		};
		plotModel.Annotations.Add(arrowAnnotation1);

		var arrowAnnotation2 = new ArrowAnnotation
		{
			Color = OxyColors.Blue,
			StartPoint = new DataPoint(point.X, point.Y),
			EndPoint = new DataPoint(x2, point.Y),
			LineStyle = LineStyle.Dot,
			StrokeThickness = 1
		};
		plotModel.Annotations.Add(arrowAnnotation2);
	}

	private void AddDistanceAnnotation(double x, double y, double distance)
	{
		var distanceAnnotation = new TextAnnotation
		{
			Text = $"Max: {distance} °",
			TextColor = OxyColors.Black,
			FontSize = 12,
			Stroke = OxyColors.Transparent,
			TextPosition = new DataPoint(x, y - 15),
			TextVerticalAlignment = VerticalAlignment.Bottom,
			TextHorizontalAlignment = OxyPlot.HorizontalAlignment.Left
		};
		plotModel.Annotations.Add(distanceAnnotation);
	}
	private void AddPointAnnotation(double x, double y, MarkerType type)
	{
		var pointAnnotation = new PointAnnotation()
		{
			X = x,
			Y = y,
			Shape = type,
			Stroke = OxyColors.Blue,
			StrokeThickness = 1,
			Size = 6,
		};
		plotModel.Annotations.Add(pointAnnotation);

	}

	// Print chart functionality
	private void AddSubtitle(PlotModel plot)
	{
		plot.Subtitle = $"LotNo: {lotNo}\n Temperature: {selectedItemDetail?.Temperature} \n Time Drying: {selectedItemDetail?.TimeDrying} \nData count: {countData}  \nSampling int: {sampling} \nStart Time: {startTime} \nStop Time: {stopTime}";
	}

	// Sanitize lotNo to prevent path traversal
	private static string SanitizeFileName(string input)
	{
		if (string.IsNullOrEmpty(input)) return "chart";
		var invalid = Path.GetInvalidFileNameChars();
		var clean = new string(input.Where(c => !invalid.Contains(c) && c != '/' && c != '\\' && c != ' ').ToArray());
		return string.IsNullOrEmpty(clean) ? "chart" : clean;
	}

	private async Task PrintChart()
	{
		PlotModel plotModel1 = plotModel;
		AddSubtitle(plotModel1);
		var safeLotNo = SanitizeFileName(lotNo ?? "");
		string _lotno = $"{safeLotNo}.pdf";
		var _filePath = await ExportPlotToPdfInWwwroot(plotModel1, _lotno);
		await DownloadFile(_filePath);
	}

	public async Task<string> ExportPlotToPdfInWwwroot(IPlotModel model, string fileName = "chart.pdf", int width = 800, int height = 600)
	{
		var wwwrootPath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "files");
		if (!Directory.Exists(wwwrootPath))
			Directory.CreateDirectory(wwwrootPath);

		var filePath = Path.Combine(wwwrootPath, fileName);

		using var stream = File.OpenWrite(filePath);
		var pdfExporter = new OxyPlot.SkiaSharp.PdfExporter
		{
			Width = 595,
			Height = 700,
		};
		pdfExporter.Export(model, stream);

		return $"/files/{fileName}";
	}

	private async Task DownloadFile(string fileName)
	{
		await JSRuntime.InvokeVoidAsync("open", fileName, "_blank");
	}
	#endregion
}
